body {
  margin: 0;
  font-family: Figtree;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.gradient {
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: calc(min(256px, 50vw) - 50vw);
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  height: min(256px, 50vw);
  justify-content: center;
  color: #fff;
  padding-right: 4px;
}

main {
  max-width: 768px;
  padding: 16px;
  position: relative;
  overflow: visible;
}

hgroup * {
  margin: 0;
}

h1 {
  font-size: min(64px, 12.5vw);
  line-height: calc(1em + 12px);
  font-weight: 600;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 28px;
}

hgroup p {
  text-align: center;
  margin-top: -12px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

main > ul {
  padding: 16px 0;
  flex-wrap: wrap;
  gap: 16px;
}

main > ul > li {
  flex-grow: 1;
}

li > ul {
  flex-direction: column;
}

li {
  list-style: none;
}

li > ul > li {
  padding: 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.color-label {
  font-weight: 600;
  margin-bottom: 4px;
}

.num {
  font-weight: 600;
}

select {
  font-family: inherit;
  font-size: inherit;
  height: 32px;
  margin: 0 0 0 4px;
  margin-right: 16px;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin: 0 0 0 4px;
  transform: translateY(4px);
}

ul li.color-25,
ul li.color-50,
ul li.color-75 {
  display: none;
}
#inc-by[value='50'] ~ ul li.color-50 {
  display: flex;
}
#inc-by[value='25'] ~ ul li.color-25,
#inc-by[value='25'] ~ ul li.color-50,
#inc-by[value='25'] ~ ul li.color-75 {
  display: flex;
}

.code {
  min-width: 168px;
  text-align: right;
}

footer {
  padding: 32px 16px;
  text-align: center;
}

a {
  color: #000;
}

.flex-p {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 512px) {
  .flex-p {
    gap: 16px;
  }
  .flex-p > * {
    width: calc(50% - 8px);
  }
}
