body {
  margin: 0;
  font-family: Figtree;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 192px;
  width: 100%;
}
@media (min-width: 384px) {
  header {
    height: 224px;
  }
}
@media (min-width: 512px) {
  header {
    height: 256px;
  }
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin-left: -3px;
  margin-top: -4px;
  margin-bottom: 0;
}
@media (min-width: 384px) {
  h1 {
    font-size: 48px;
  }
}
@media (min-width: 512px) {
  h1 {
    font-size: 56px;
  }
}

hgroup p {
  text-align: right;
  margin-top: -8px;
  margin-bottom: 0;
}
@media (min-width: 384px) {
  hgroup p {
    margin-top: -10px;
  }
}
@media (min-width: 512px) {
  hgroup p {
    margin-top: -12px;
  }
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

main > ul {
  display: grid;
  padding: 16px 0;
  gap: 16px;
  grid-template-columns: 1fr;
}

@media (min-width: 512px) {
  main > ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  main > ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  main > ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

li {
  list-style: none;
}

li > ul {
  display: flex;
  flex-direction: column;
}

li > ul > li {
  padding: 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.num {
  font-weight: 600;
}

select {
  font-family: inherit;
  font-size: inherit;
  border-radius: 16px;
  padding: 0 6px;
  height: 32px;
  margin-left: 4px;
  margin-top: -8px;
}

ul li.color-25,
ul li.color-50,
ul li.color-75 {
  display: none;
}
#inc-by[value='50'] ~ ul li.color-50 {
  display: flex;
}
#inc-by[value='25'] ~ ul li.color-25,
#inc-by[value='25'] ~ ul li.color-50,
#inc-by[value='25'] ~ ul li.color-75 {
  display: flex;
}

.code {
  text-align: right;
}

footer {
  padding: 32px 16px;
  text-align: center;
}

a {
  color: #000;
}

.logo {
  display: flex;
}

.logo > div {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.peak {
  box-shadow: -3px 0 0 0 #000;
}
